Package: com.harrywantstodev.pinchtoclose
Name: PinchToClose
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Pinch to close folders
Maintainer: harrywantstodev
Author: harrywantstodev
Section: Tweaks
